@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';


:root {
  --main: #7FD89A;
  --titles: #173867;
}

body {
  background-color: white;
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem;
  width: 100%;
}

footer {
  position: absolute;
  background-color: var(--main);
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
  margin-top: 8px;
  text-align: right;
}


h1 {
  font-family: 'Comfortaa', cursive;
  width: fit-content;
  margin: 0 auto;
  padding: 8px 0px;
  color: var(--titles);
  margin-bottom: 32px;
}

footer a {
  display: block;
  padding-top: 8px;
  margin-right: 16px;
  color: black;
}

/* Navbar */

nav {
 height: 100px;
 font-family: 'Comfortaa', cursive;
 margin-bottom: 16px;
}

.navbar-brand {
  font-family: 'Abril Fatface', cursive;
  font-size: 3em;
  color: var(--titles) !important;
}

nav a {
  color: var(--titles) !important;
  font-size: large;
}

nav a:hover {
  color: #69778A !important;
}

nav .active a {
  text-decoration: underline;

}

.bg-dark {
  background-color: var(--main) !important;
}


nav button {
  background-color: black !important;
}

/* End of navbar */


/* Login page*/
.login-form {
  background-color: #EEF5E2;
  margin: 0 auto;
  padding: 16px 8px;
  margin-top: 10%;
}

.login-form .note {
  margin-bottom: 24px;
}

.login-form .login-check {
  padding-bottom: 16px;
}

.login-form a {
  color: white;
  text-decoration: none;
}

/* unvisited link */
.login-form a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
.login-form a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
.login-form a:hover {
  color: white;
  text-decoration: none;
}

/* selected link */
.login-form a:active {
  color: white;
  text-decoration: none;
}

/* login page end */


/* Stats page */

.stats-ctn {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;;
}

.transactions {
  background-color: white;
  width: 98%;
  margin: 0 auto;
  padding-bottom: 12px;
}

.positive-price {
  color: green !important;
}

.negative-price {
  color: red !important;
}

.chart {
  width: 50%;
  margin: 0 auto;
}

/* End of stats page */


/* Budget page */

.transaction-form {
  padding: 26px 8px;
  margin: 0 auto;
}

.transaction-form input {
  margin-bottom: 12px;;
}

/* End of Budget page */


/* About page */
.about-content {
  width: 66%;
  margin: 0 auto;
  padding: 16px;
}

.pf-img {
  float: left;
  width: 30%;
  margin-right: 24px;
}

.ob-pres {
  float: right;
  width: 40%;
}

.ob-pres figcaption {
  text-align: center;
  font-size: 12px;
}

.ob-pres img {
  width: 100%;
}

.separator {
  clear: both;
}

.section-separator {
  width: 66%; 
  margin: 0 auto;
  margin-top: 52px;
  margin-bottom: 32px;
  border-bottom: 3px solid var(--titles);
}

/* End of about page */


.entry-btn {
  color: white !important;
}

.new-month {
  margin-top: 42px; 
}

@media only screen and (max-width: 900px) {
  .navbar-collapse {
    background-color: var(--main) !important;
    padding-left: 16px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top: 1px solid white;
  }

  .login-form {
    width: 80%;
  }

  .transaction-form {
    max-width: 100%;
  }


  .navbar-brand {
    font-size: 2em;
  }

  .about-content {
    width: 90%;
    padding: 0px;
  }
}

@media only screen and (min-width: 901px) {
  .login-form {
    width: 50%;
  }

  .transaction-form {
    max-width: 50%;
  }
}